#map { height: 180px; }
.small-svg {height: 1em; width: 1em;}
.mid-svg {height: 1em; width: 1em;}
.link-svg {height: 1em; width: 1em;}
.card {overflow: hidden;}
ul > li > a.active > span {padding-bottom: 1px; border-bottom: 3px solid black; font-weight: 600;}
.warna-biru {background-image: var(--bs-gradient)!important; background-color: #0d6efd!important;}
.warna-biru > div > h2 > img, .warna-biru > span > img {filter: invert(100%);}
.warna-biru > span, .warna-biru > div > span, .warna-biru > div > h2 {color: white;}
.warna-kuning {background-image: var(--bs-gradient)!important; background-color: #ffc107!important;}
.warna-kuning > span, .warna-kuning > div > span, .warna-kuning > div > h2 {color: black;}
.warna-merah {background-image: var(--bs-gradient)!important; background-color: #dc3545!important;}
.warna-merah > span, .warna-merah > div > span, .warna-merah > div > h2 {color: white;}
.warna-merah > div > h2 > img, .warna-merah > span > img {filter: invert(100%);}