/* File css ini berisi hotfix untuk memperbaiki tampilan (layout) html */
/* dan variabel khusus untuk memperbaiki pewarnaan elemen, terutama di mode gelap */

/* Variabel warna di mode gelap */
[data-bs-theme=dark] {
    color-scheme: dark;
    --under-nav-color: white;
    --my-text-color: white;
    --my-card-cap-bg: rgba(173,181,189, 0.2);
    --my-muted-color: rgba(226, 226, 226, 0.75);
    --my-footer-bg-color: #212529;
    --my-zoom-color: black;
    --my-mmi-color: #6c757d;
    --my-mmi-text: white;
    --inverted: 1;
}
/* Variabel warna di mode terang */
[data-bs-theme=light] {
    --under-nav-color: black;
    --my-text-color: black;
    --my-card-cap-bg: rgba(33, 37, 41, 0.03);
    --my-footer-bg-color: rgb(248,249,250);
    --my-muted-color: rgba(33, 37, 41, 0.75);
    --my-mmi-color: #e9e9e9;
    --my-mmi-text: black;
    --inverted: 0;
}

/* Warna teks (judul, paragraf dan baris) */
h2.header, span.header, h3.header, hr, p, li, select.form-select, table.table td, table.table th {
    color: var(--my-text-color);
}

/* Warna footer */
footer.footer {
    background-color: var(--my-footer-bg-color);
}
span.text-footer {
    color: var(--my-text-color);
}

/* Warna elemen dalam leaflet (zoom & attribution) */
a.leaflet-control-zoom-out > span, a.leaflet-control-zoom-in > span, div.leaflet-control-attribution > span {
    color: var(--my-zoom-color);
}
div.leaflet-bar > a.leaflet-disabled > span {
    color: rgb(180, 180, 180)!important;
}
/* Ukuran leaflet dan warna teksnya */
#map {
    height: 180px; color: black;
}

/* Set ukuran icon svg beserta warnanya (invert mati/hidup) */
.small-svg, .mid-svg, .link-svg {
    height: 1em; width: 1em; filter: invert(var(--inverted));
}
.small-svg, .link-svg {
    filter: invert(var(--inverted));
}
/* .mid-svg hanya digunakan pada icon magnitudo, yang akan ada variabel warnanya sendiri */

/* Warna teks pada elemen .card */
.card-body span, .card-header span {
    color: var(--my-text-color);
}
div.card-header {
    background-color: var(--my-card-cap-bg);
}
/* Sembunyikan overflow agar layout lebih rapi */
.card {
    overflow: hidden;
}

/* Elemen navbar yang aktif */
ul > li > a.active > span {
    padding-bottom: 1px;
    border-bottom: 3px solid var(--under-nav-color);
    font-weight: 600;
}

/* Warna biru */
.warna-biru {
    background-image: var(--bs-gradient)!important;
    background-color: #0d6efd!important;
}
.warna-biru > div > h2 > img, .warna-biru > span > img {
    filter: invert(100%);
}
.warna-biru > span, .warna-biru > div > span, .warna-biru > div > h2 {
    color: white;
}

/* Warna kuning */
.warna-kuning {
    background-image: var(--bs-gradient)!important;
    background-color: #ffc107!important;
}
.warna-kuning > span, .warna-kuning > div > span, .warna-kuning > div > h2 {
    color: black;
}
.warna-kuning > div > h2 > img, .warna-kuning > span > img {
    filter: invert(0);
}

/* Warna merah */
.warna-merah {
    background-image: var(--bs-gradient)!important;
    background-color: #dc3545!important;
}
.warna-merah > span, .warna-merah > div > span, .warna-merah > div > h2 {
    color: white;
}
.warna-merah > div > h2 > img, .warna-merah > span > img {
    filter: invert(100%);
}

/* Badge khusus penanda MMI */
/* Gunakan variabel --my-mmi-color dan --my-mmi-text untuk mengganti warnanya */
.badge-mmi {
    background-color: var(--my-mmi-color);
    margin-right: 5px;
    min-width: 40px;
}
span.badge-mmi {
    color: var(--my-mmi-text);
}

/* Ubah urutan elemen pada .card-top jika ukuran layar terlalu kecil */
@media (max-width: 350px) {
    .card-top > .row, .card-event > .row {
        flex-direction: column-reverse;
    }
    .card-top > .row > *, .card-event > .row  > * {
        width: 100%
    }
}