/* ===== Variabel warna ===== */
/* Variabel warna gelap */
/* Gunakan warna gelap secara bawaan agar tidak terjadi flashbang */
:root {
	--background: hsl(0, 0%, 10%);
	--foreground: hsl(0, 0%, 90%);
	--card-background: hsl(0, 0%, 20%);
	--card-foreground: hsl(0, 0%, 100%);
	--card-border: hsla(0, 0%, 81%, 0.2);
}
/* Variabel warna cerah */
@media (prefers-color-scheme: light) {
	:root {
		--background: hsl(0, 0%, 95%);
		--foreground: hsl(0, 0%, 10%);
		--card-background: hsl(0, 0%, 100%);
		--card-foreground: hsl(0, 0%, 0%);
		--card-border: hsla(0, 0%, 0%, 0.2);
	}
}

/* ===== Variabel responsive design ===== */
@sm: ~"(min-width: 576px)";
@md: ~"(min-width: 768px)";
@lg: ~"(min-width: 992px)";
@xl: ~"(min-width: 1200px)";

html {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--background);
	color: var(--foreground);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100dvh;
	width: 100dvw;
	background-color: var(--background);
	color: var(--foreground);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 0 0.5rem;

	@media @sm {
		padding: 0 1rem;
	}
	@media @md {
		padding: 0 1.5rem;
	}
}

h1 {
	font-size: 1.5rem;

	@media @sm {
		font-size: 2rem;
	}
	@media @md {
		font-size: 2.5rem;
	}
	@media @lg {
		font-size: 3rem;
	}
}

.cards-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 1rem;

	@media @lg {
		grid-template-columns: repeat(2, 1fr);
	}
}

.cards-group {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.card {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--card-background);
	color: var(--card-foreground);
	border: 1px solid var(--card-border);
	box-shadow: 0 3px 1px var(--card-border);
}
