/* ===== Variabel warna ===== */
/* Variabel warna gelap */
/* Gunakan warna gelap secara bawaan agar tidak terjadi flashbang */
:root {
	/* Warna umum */
	--background: hsl(0, 0%, 10%);
	--foreground: hsl(0, 0%, 90%);
	--link: hsl(203, 100%, 83%);
	/* Card */
	--card-background: hsl(0, 0%, 20%);
	--card-foreground: hsl(0, 0%, 100%);
	--card-border: hsla(0, 0%, 81%, 0.2);
	--card-shadow: 0 2px 1px var(--card-border);
	--card-header: hsl(0, 0%, 30%);
	--card-header-foreground: var(--card-foreground);
	/* Magnitudo */
	--magnitude-low: hsl(216, 97%, 32%);
	--magnitude-low-foreground: hsl(0, 0%, 100%);
	--magnitude-medium: hsl(24, 100%, 35%);
	--magnitude-medium-foreground: hsl(0, 0%, 100%);
	--magnitude-high: hsl(348, 83%, 75%);
	--magnitude-high-foreground: hsl(0, 0%, 0%);
}
/* Variabel warna cerah */
@media (prefers-color-scheme: light) {
	:root {
		/* Warna umum */
		--background: hsl(0, 0%, 95%);
		--foreground: hsl(0, 0%, 10%);
		--link: hsl(240, 98%, 45%);
		/* Card */
		--card-background: hsl(0, 0%, 100%);
		--card-foreground: hsl(0, 0%, 0%);
		--card-border: hsla(0, 0%, 0%, 0.2);
		--card-shadow: 0 3px 1px var(--card-border);
		--card-header: hsl(0, 0%, 100%);
		--card-header-foreground: var(--card-foreground);
		/* Magnitudo */
		--magnitude-low: hsl(216, 97%, 85%);
		--magnitude-low-foreground: hsl(0, 0%, 0%);
		--magnitude-medium: hsl(43, 100%, 75%);
		--magnitude-medium-foreground: hsl(0, 0%, 0%);
		--magnitude-high: hsl(348, 83%, 47%);
		--magnitude-high-foreground: hsl(0, 0%, 100%);
	}
}

/* ===== Variabel tambahan skema warna ===== */
@light: ~"(prefers-color-scheme: light)";

/* ===== Variabel responsive design ===== */
@sm: ~"(min-width: 576px)";
@md: ~"(min-width: 768px)";
@lg: ~"(min-width: 992px)";
@xl: ~"(min-width: 1200px)";

html {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--background);
	color: var(--foreground);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100dvh;
	max-width: 100dvw;
	background-color: var(--background);
	color: var(--foreground);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 0.5rem;
	margin-left: auto;
	margin-right: auto;

	@media @sm {
		padding: 1rem;
	}
	@media @md {
		padding: 1.5rem;
	}
	@media @lg {
		max-width: 1200px;
	}
}

h1 {
	font-size: 1.5rem;
	margin: 0;
	margin-bottom: 1rem;

	@media @sm {
		font-size: 2rem;
	}
	@media @md {
		font-size: 2.5rem;
	}
	@media @lg {
		font-size: 3rem;
	}
}

a {
	color: var(--link);
}

.container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 0.7rem;

	@media @sm {
		gap: 1rem;
	}

	@media @md {
		grid-template-columns: repeat(2, 1fr);
	}

	&__group {
		display: flex;
		flex-direction: column;
		gap: 0.7rem;

		@media @sm {
			gap: 1rem;
		}
	}
}

.card {
	--card-inner-padding: 0.5rem;
	--card-inner-gap: 0.2rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	background-color: var(--card-background);
	color: var(--card-foreground);
	border: 1px solid var(--card-border);
	box-shadow: var(--card-shadow);

	* {
		word-break: normal;
	}

	&--hidden {
		display: none;
	}

	&__header {
		background-color: var(--card-header);
		color: var(--card-header-foreground);
		border-bottom: 1px solid var(--card-border);
		width: 100%;
		padding: var(--card-inner-padding);
		display: flex;
		flex-direction: row;
		gap: var(--card-inner-gap);
		align-items: center;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: var(--card-inner-gap);
		padding: var(--card-inner-padding);

		&--flex-row {
			display: flex;
			flex-direction: row;
		}

		&--no-padding {
			padding: 0;
		}
	}

	&__magnitude {
		width: 100px;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		gap: var(--card-inner-gap);
		border-right: 1px solid var(--card-border);

		&--low {
			background-color: var(--magnitude-low);
			color: var(--magnitude-low-foreground);
		}

		&--medium {
			background-color: var(--magnitude-medium);
			color: var(--magnitude-medium-foreground);
		}

		&--high {
			background-color: var(--magnitude-high);
			color: var(--magnitude-high-foreground);
		}
	}

	&__magnitude-text {
		font-size: 2rem;
		font-weight: bold;
	}

	&__parameter {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		gap: var(--card-inner-gap);
		padding: var(--card-inner-padding);
	}

	&__parameter-line {
		display: flex;
		flex-direction: row;
		gap: var(--card-inner-gap);
		align-items: center;
	}

	&__icon {
		height: 1.2rem;
		width: 1.2rem;
		filter: invert(1);

		@media @light {
			filter: invert(0);
		}
	}

	&__map {
		height: 200px;
	}
}
